.product-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.product-modal-actions button {
  flex: 1;
  .button-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    .button-spinner {
      padding-right: 5px;
      width: 20px;
    }
    .button-label {
      margin-left: -20px;
      flex: 1;
    }
  }
}
.full-width {
  width: 100%;
}
.error-label {
  font-size: 75%;
  padding: 0 1em;
}
