<mat-toolbar color="primary">
  <!--
    TODO mobile menu
    <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>Laravel Angular CRUD</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditProductDialog()">
    <mat-icon>add</mat-icon>
    Add new product
  </button>
</mat-toolbar>
<div class="app-content">
  <app-products-main-table> </app-products-main-table>
</div>
